/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .title {
    @apply m-2 h-4 w-20 rounded-md bg-alanturing-800 text-white;
  }

  td {
    @apply text-center;
  }

  input {
    @apply rounded-md p-1 focus:border-2 focus:border-alanturing-800 focus:outline-none;
  }

  button {
    @apply rounded-md px-2 py-1 text-white;
  }

  .button {
    @apply cursor-pointer rounded-md px-2 py-2 text-white;
  }

  i {
    @apply mr-1;
  }

  .button-book {
    @apply mr-3 mt-4 w-52 bg-alanturing-800;
  }

  .button-book-highlighted {
    @apply mr-3 mt-4 w-52 bg-alanturing-400;
  }

  .sub-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem 0;
  }

  .sub-forms > .sub-form {
    padding: 2rem;
    margin: 1rem;
  }

  .sub-forms > .sub-form > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .sub-forms > .sub-form > form > input {
    display: inline-block;
    margin-bottom: 1rem;
    border: solid 1px #206ab2;
    border-radius: 10px;
  }
}
