/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body {
    background-color: #ede7f9;
  }

  .body > h1,
  .body > h2 {
    color: #424874;
  }

  table {
    @apply bg-books-400 border-separate border-spacing-2 rounded-md p-2;
  }

  .title {
    @apply bg-books-800 m-2 h-4 w-20 rounded-md text-white;
  }

  td {
    @apply text-center;
  }

  input {
    @apply focus:border-books-800 rounded-md p-1 focus:border-2 focus:outline-none;
  }

  button {
    @apply rounded-md px-2 py-1;
  }

  .button {
    @apply text-books-800 cursor-pointer rounded-md px-2 py-2;
  }

  i {
    @apply mr-1;
  }

  .button-book {
    @apply bg-books-400  text-books-100 mr-3 mt-4 w-52;
    color: black;
  }

  .button-book-highlighted {
    @apply bg-books-800 text-books-100 mr-3 mt-4 w-52;
  }

  .sub-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem 0;
  }

  .sub-forms > .sub-form {
    padding: 2rem;
    margin: 1rem;
  }

  .sub-forms > .sub-form > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .sub-forms > .sub-form > form > input {
    display: inline-block;
    margin-bottom: 1rem;
    border: solid 1px #424874;
    border-radius: 10px;
  }
}
